<!--The content below is only a placeholder and can be replaced.-->
  <section class="nes-container with-title">
    <h1 class="title" id="skill">skill</h1>
    <h2>Languege, Framework</h2>
    <div fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxFlex="40" fxFlex.lt-sm="50" fxFlex.gt-sm="30"></div>
        <div fxFlex="60" fxFlex.lt-sm="50" fxFlex.gt-sm="70"fxLayout="row" fxLayoutAlign="space-between center">
          <div class="t-left measure">low</div>
          <div class="t-right measure">high</div>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxFlex="40" fxFlex.lt-sm="50" fxFlex.gt-sm="30">Ruby</div>
        <progress class="nes-progress is-primary" value="8" max="10"></progress>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxFlex="40" fxFlex.lt-sm="50" fxFlex.gt-sm="30">Ruby on Rails</div>
        <progress class="nes-progress is-primary" value="8" max="10"></progress>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxFlex="40" fxFlex.lt-sm="50" fxFlex.gt-sm="30">Angular</div>
        <progress class="nes-progress is-success" value="6" max="10"></progress>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between center">
          <div fxFlex="40" fxFlex.lt-sm="50" fxFlex.gt-sm="30">TypeScript</div>
        <progress class="nes-progress is-success" value="5" max="10"></progress>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between center">
          <div fxFlex="40" fxFlex.lt-sm="50" fxFlex.gt-sm="30">JQuery</div>
        <progress class="nes-progress is-warning" value="3" max="10"></progress>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxFlex="40" fxFlex.lt-sm="50" fxFlex.gt-sm="30">Java,PHP</div>
        <progress class="nes-progress is-error" value="1" max="10"></progress>
      </div>

      <hr>

      <h2>Data Store</h2>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxFlex="40" fxFlex.lt-sm="50" fxFlex.gt-sm="30">MySQL</div>
        <progress class="nes-progress is-success" value="6" max="10"></progress>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxFlex="40" fxFlex.lt-sm="50" fxFlex.gt-sm="30">PostgreSQL</div>
        <progress class="nes-progress is-success" value="6" max="10"></progress>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxFlex="40" fxFlex.lt-sm="50" fxFlex.gt-sm="30">Redis</div>
        <progress class="nes-progress is-success" value="5" max="10"></progress>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxFlex="40" fxFlex.lt-sm="50" fxFlex.gt-sm="30">Cloud Firestore</div>
        <progress class="nes-progress is-error" value="1" max="10"></progress>
      </div>

      <h2> etc </h2>
      <div>
        GitHub, GitLab, Bitbucket, Slack, ChatWork, Backlog, Pivotal Tracker, Redash, Metabase, Salesforce, AWS, Cloud9, Firebase
      </div>
    </div>
  </section>
