<!--The content below is only a placeholder and can be replaced.-->
<header>
  <h1>永元のポートフォリオ</h1>
  <nav>
    <section fxLayout="row" fxLayoutAlign="space-around center">
      <a class="nes-btn" fxFlex="30" href='#profile'>profile</a>
      <a class="nes-btn" fxFlex="30" href='#skill'>skill</a>
      <a class="nes-btn" fxFlex="30" href='#link'>link</a>
    </section>
  </nav>
</header>

<article fxLayout="column" fxLayoutAlign="space-around">
  <h2 class="separator" id="profile">- Profile -</h2>
  <section class="nes-container with-title">
    <h1 class="title">Introduction</h1>
    <div fxLayout="row" fxLayoutAlign="space-around end">
      <div fxFlex="none">
        <img class="icon-for-message" src="/assets/images/iki_t_dot.jpg">
      </div>
      <div fxFlex="grow" class="nes-balloon from-left">
        <p>
          Hi, I'm Software Engineer.<br>
          I have 3 years of engineering experience in start-up.
        </p>
      </div>
    </div>
  </section>

  <section class="nes-container with-title">
    <h1 class="title">Qualifications</h1>
    <ul class="nes-list is-disc">
      <li>Master's degree of Information Technology</li>
      <li><a href='https://www.jitec.ipa.go.jp/1_11seido/seido_gaiyo.html' target=”_blank”>Fundamental Information Technology Engineer Examination</a></li>
      <li><a href='http://www.oracle.com/jp/education/certification/jse8-2489021-ja.html' target=”_blank”>Oracle Certified Java Programmer, Silver</a></li>
    </ul>
  </section>

  <h2 class="separator" id="skill">- スキル -</h2>

  <app-skill-component fxLayout="column" fxLayoutAlign="space-around"></app-skill-component>

  <h2 class="separator" id="link">- Link -</h2>

  <section class="nes-container" fxLayout="row" fxLayoutAlign="space-around center">
    <a href='https://ngmt83.hatenablog.com' target=”_blank”>
      <img class="icon-for-link" src="/assets/images/hatenablog-logo.svg">
    </a>

    <a href='https://speakerdeck.com/ngmt' target=”_blank”>
      <img class="icon-for-link" src="/assets/images/speaker_deck.svg">
    </a>

    <a href='https://twitter.com/ngmt83' target=”_blank”>
      <i class="nes-icon twitter is-large"></i>
    </a>
  </section>

</article>
