<!--The content below is only a placeholder and can be replaced.-->
<header class="nes-container">
  <h1>Portfolio</h1>
  <nav>
    <section fxLayout="row" fxLayoutAlign="space-around center">
      <a class="nes-btn" fxFlex="30" href='#works'>works</a>
      <a class="nes-btn" fxFlex="30" href='#profile'>profile</a>
      <a class="nes-btn" fxFlex="30" href='#contact'>contact</a>
    </section>
  </nav>
</header>

<article fxLayout="column">
  <section class="nes-container with-title">
    <h1 class="title" id="works">works</h1>
  </section>

  <section class="nes-container with-title">
    <h1 class="title" id="profile">profile</h1>
  </section>

  <section class="nes-container with-title">
    <h1 class="title" id="contact">contact</h1>
  </section>
</article>

<router-outlet></router-outlet>
