<!--The content below is only a placeholder and can be replaced.-->
<header>
  <h1>Portfolio</h1>
  <nav>
    <section fxLayout="row">
      <div><a href='#works'>works</a></div>
      <div><a href='#profile'>profile</a></div>
      <div><a href='#contact'>contact</a></div>
    </section>
  </nav>
</header>

<div fxLayout="column">
  <section>
    <h1 id="works">works</h1>
  </section>

  <section>
    <h1 id="profile">profile</h1>
  </section>

  <section>
    <h1 id="contact">contact</h1>
  </section>
</div>

<router-outlet></router-outlet>
