header{
  h1{
    text-align: center;
  }
}

a{
  text-decoration: none;
}

.separator{
  text-align: center;
  margin: 1rem;
}

.icon-for-message{
  width: 64px;
  height: 64px;
  margin-right: 8px;
}

.icon-for-link{
  width: 64px;
  height: 64px;
}
