header{
  h1{
    text-align: center;
  }
}

a{
  text-decoration: none;
}

h2{
  font-size: 1.2em;
}

.t-left{
  text-align: left;
}

.t-center{
  text-align: center;
}

.t-right{
  text-align: right;
}

.measure{
  font-size: 0.8em;
}

.icon-for-message{
  width: 64px;
  height: 64px;
}
