<h2>ETC</h2>
<div fxLayout="row" fxLayoutAlign="space-between center">
  <div fxFlex="40" fxFlex.lt-sm="50" fxFlex.gt-sm="30">GitHub</div>
  <progress class="nes-progress is-success" value="7" max="10"></progress>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center">
  <div fxFlex="40" fxFlex.lt-sm="50" fxFlex.gt-sm="30">GitLab</div>
  <progress class="nes-progress is-success" value="5" max="10"></progress>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center">
  <div fxFlex="40" fxFlex.lt-sm="50" fxFlex.gt-sm="30">Bitbucket</div>
  <progress class="nes-progress is-warning" value="3" max="10"></progress>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center">
  <div fxFlex="40" fxFlex.lt-sm="50" fxFlex.gt-sm="30">Metabase</div>
  <progress class="nes-progress is-success" value="5" max="10"></progress>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center">
  <div fxFlex="40" fxFlex.lt-sm="50" fxFlex.gt-sm="30">Redash</div>
  <progress class="nes-progress is-warning" value="4" max="10"></progress>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center">
  <div fxFlex="40" fxFlex.lt-sm="50" fxFlex.gt-sm="30">Pivotal Tracker</div>
  <progress class="nes-progress is-warning" value="4" max="10"></progress>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center">
  <div fxFlex="40" fxFlex.lt-sm="50" fxFlex.gt-sm="30">Backlog</div>
  <progress class="nes-progress is-error" value="2" max="10"></progress>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center">
  <div fxFlex="40" fxFlex.lt-sm="50" fxFlex.gt-sm="30">Slack</div>
  <progress class="nes-progress is-primary" value="8" max="10"></progress>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center">
  <div fxFlex="40" fxFlex.lt-sm="50" fxFlex.gt-sm="30">ChatWork</div>
  <progress class="nes-progress is-success" value="5" max="10"></progress>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center">
  <div fxFlex="40" fxFlex.lt-sm="50" fxFlex.gt-sm="30">AWS</div>
  <progress class="nes-progress is-warning" value="4" max="10"></progress>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center">
  <div fxFlex="40" fxFlex.lt-sm="50" fxFlex.gt-sm="30">Cloud9</div>
  <progress class="nes-progress is-warning" value="3" max="10"></progress>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center">
  <div fxFlex="40" fxFlex.lt-sm="50" fxFlex.gt-sm="30">Firebase</div>
  <progress class="nes-progress is-error" value="2" max="10"></progress>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center">
  <div fxFlex="40" fxFlex.lt-sm="50" fxFlex.gt-sm="30">Salesforce</div>
  <progress class="nes-progress is-error" value="1" max="10"></progress>
</div>
