<h2>Data Store</h2>
<div fxLayout="row" fxLayoutAlign="space-between center">
  <div fxFlex="40" fxFlex.lt-sm="50" fxFlex.gt-sm="30">MySQL</div>
  <progress class="nes-progress is-success" value="6" max="10"></progress>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center">
  <div fxFlex="40" fxFlex.lt-sm="50" fxFlex.gt-sm="30">PostgreSQL</div>
  <progress class="nes-progress is-success" value="6" max="10"></progress>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center">
  <div fxFlex="40" fxFlex.lt-sm="50" fxFlex.gt-sm="30">Redis</div>
  <progress class="nes-progress is-success" value="5" max="10"></progress>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center">
  <div fxFlex="40" fxFlex.lt-sm="50" fxFlex.gt-sm="30">Cloud Firestore</div>
  <progress class="nes-progress is-error" value="1" max="10"></progress>
</div>
