
<div fxLayout="row" fxLayoutAlign="space-between center">
  <div fxFlex="40" fxFlex.lt-sm="50" fxFlex.gt-sm="30">Ruby</div>
  <progress class="nes-progress is-primary" value="8" max="10"></progress>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center">
  <div fxFlex="40" fxFlex.lt-sm="50" fxFlex.gt-sm="30">Ruby on Rails</div>
  <progress class="nes-progress is-primary" value="8" max="10"></progress>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center">
  <div fxFlex="40" fxFlex.lt-sm="50" fxFlex.gt-sm="30">Angular</div>
  <progress class="nes-progress is-success" value="6" max="10"></progress>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center">
  <div fxFlex="40" fxFlex.lt-sm="50" fxFlex.gt-sm="30">TypeScript</div>
  <progress class="nes-progress is-success" value="5" max="10"></progress>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center">
  <div fxFlex="40" fxFlex.lt-sm="50" fxFlex.gt-sm="30">JQuery</div>
  <progress class="nes-progress is-warning" value="3" max="10"></progress>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center">
  <div fxFlex="40" fxFlex.lt-sm="50" fxFlex.gt-sm="30">Java,PHP</div>
  <progress class="nes-progress is-error" value="1" max="10"></progress>
</div>
